In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [4]:
df=pd.read_csv("train.csv",sep=",")


df.head()

  substation                 date  consumption
0    AJAHUEL  2018-01-01 00:00:00   137.330840
1    AJAHUEL  2018-01-01 01:00:00   124.045549
2    AJAHUEL  2018-01-01 02:00:00   118.137811
3    AJAHUEL  2018-01-01 03:00:00   107.899499
4    AJAHUEL  2018-01-01 04:00:00   100.362069

In [50]:
print(df.columns)

Index(['substation,date,consumption'], dtype='object')

In [5]:
estacion = df['substation'].unique()

print(estacion)

['AJAHUEL' 'BUIN' 'CHENA' 'CNAVIA' 'ELSALTO' 'FLORIDA' 'LOSALME']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244391 entries, 0 to 244390
Data columns (total 1 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   substation,date,consumption  244391 non-null  object
dtypes: object(1)
memory usage: 1.9+ MB

In [8]:
dfs_AJAHUEL = df[df['substation'] == 'AJAHUEL']
dfs_BUIN = df[df['substation'] == 'BUIN']
dfs_CHENA = df[df['substation'] == 'CHENA']
dfs_CNAVIA = df[df['substation'] == 'CNAVIA']
dfs_AJAHUEL = df[df['substation'] == 'AJAHUEL']
dfs_BUIN = df[df['substation'] == 'BUIN']
dfs_CHENA = df[df['substation'] == 'CHENA']
dfs_CNAVIA = df[df['substation'] == 'CNAVIA']
dfs_ELSALTO = df[df['substation'] == 'ELSALTO']
dfs_FLORIDA = df[df['substation'] == 'FLORIDA']
dfs_LOSALME = df[df['substation'] == 'LOSALME']

In [18]:
y_ajahuel = dfs_AJAHUEL['consumption'].to_numpy()

y_ajahuel

array([137.33084 , 124.045549, 118.137811, ..., 132.565346, 140.93373 ,
       120.67177 ])

In [17]:
x_ajauhuel = dfs_AJAHUEL['date'].to_numpy()

x_ajauhuel

array(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
       '2018-01-01 02:00:00', ..., '2021-12-31 21:00:00',
       '2021-12-31 22:00:00', '2021-12-31 23:00:00'], dtype=object)

In [ ]:
x_ajauhuel.shape

(34913, 3)

In [ ]:
x_buin = dfs_BUIN['date'].to_numpy()


x_buin

array([['BUIN', '2018-01-01 00:00:00', -1.4697239999999936],
       ['BUIN', '2018-01-01 01:00:00', -1.485836999999998],
       ['BUIN', '2018-01-01 02:00:00', -1.5091460000000096],
       ...,
       ['BUIN', '2021-12-31 21:00:00', -1.038190999999994],
       ['BUIN', '2021-12-31 22:00:00', -1.048852000000005],
       ['BUIN', '2021-12-31 23:00:00', -1.2236429999999898]], dtype=object)

In [ ]:
x_buin.shape

(34913, 3)

In [ ]:
x_chena = dfs_CHENA['date'].to_numpy()


x_chena

array([['CHENA', '2018-01-01 00:00:00', 164.664089],
       ['CHENA', '2018-01-01 01:00:00', 151.83142199999998],
       ['CHENA', '2018-01-01 02:00:00', 148.108589],
       ...,
       ['CHENA', '2021-12-31 21:00:00', 190.696882],
       ['CHENA', '2021-12-31 22:00:00', 201.432506],
       ['CHENA', '2021-12-31 23:00:00', 187.584894]], dtype=object)

In [ ]:
x_cnavia =dfs_CNAVIA['date'].to_numpy()

x_cnavia

array([['CNAVIA', '2018-01-01 00:00:00', 323.805217],
       ['CNAVIA', '2018-01-01 01:00:00', 300.024568],
       ['CNAVIA', '2018-01-01 02:00:00', 292.70396900000003],
       ...,
       ['CNAVIA', '2021-12-31 21:00:00', 385.109984],
       ['CNAVIA', '2021-12-31 22:00:00', 399.074645],
       ['CNAVIA', '2021-12-31 23:00:00', 370.8354]], dtype=object)

In [ ]:
x_elsalto = dfs_ELSALTO['date'].to_numpy()


x_elsalto

array([['ELSALTO', '2018-01-01 00:00:00', 212.495636],
       ['ELSALTO', '2018-01-01 01:00:00', 200.802108],
       ['ELSALTO', '2018-01-01 02:00:00', 189.173441],
       ...,
       ['ELSALTO', '2021-12-31 21:00:00', 409.117559],
       ['ELSALTO', '2021-12-31 22:00:00', 434.118976],
       ['ELSALTO', '2021-12-31 23:00:00', 417.365033]], dtype=object)

In [ ]:
x_florida = dfs_FLORIDA['date'].to_numpy()

x_florida

array([['FLORIDA', '2018-01-01 00:00:00', 0.219616000000002],
       ['FLORIDA', '2018-01-01 01:00:00', 0.1029799999999951],
       ['FLORIDA', '2018-01-01 02:00:00', 0.099852000000002],
       ...,
       ['FLORIDA', '2021-12-31 21:00:00', -10.473265999999995],
       ['FLORIDA', '2021-12-31 22:00:00', -11.318995],
       ['FLORIDA', '2021-12-31 23:00:00', -11.189608999999995]],
      dtype=object)

In [78]:
x_losalme = dfs_LOSALME['date'].to_numpy()


x_losalme

array([['LOSALME', '2018-01-01 00:00:00', 218.675048],
       ['LOSALME', '2018-01-01 01:00:00', 202.25676500000003],
       ['LOSALME', '2018-01-01 02:00:00', 195.217009],
       ...,
       ['LOSALME', '2021-12-31 21:00:00', 160.167061],
       ['LOSALME', '2021-12-31 22:00:00', 169.69406],
       ['LOSALME', '2021-12-31 23:00:00', 159.295008]], dtype=object)

In [ ]:
plt.plot(x_ajauhuel,y_ajahuel)

In [ ]:
y_buin = dfs_BUIN['consumption'].to_numpy()

y_buin

In [ ]:
plt.plot(x_buin,y_buin)

In [ ]:
y_chena = dfs_CHENA['consumption'].to_numpy()

In [ ]:
plt.plot(x_chena,y_chena)